[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "pedalboard/vendors/rubberband"]
	path = vendors/rubberband
	url = https://github.com/BreakfastQuay/Rubberband.git
