-r test-requirements.txt

mkdocs==1.0.4
mypy
# For documentation:
black
sphinx==5.3.0; python_version > '3.6'
sphinx-copybutton==0.5.1; python_version > '3.6'
docutils==0.19; python_version > '3.6'
m2r2==0.3.3; python_version > '3.6'
furo==2022.9.29; python_version > '3.6'
sphinxext-opengraph==0.7.3; python_version > '3.6'
