coverage
pytest>6.2
pytest-cov
pytest-mock
pybind11>=2.6.0
setuptools>=42
wheel
flake8
black==21.7b0
interrogate

numpy
sox
tensorflow~=2.6.2; python_version < '3.10' and platform.machine != 'arm64'
google-cloud-storage
tqdm
