coverage
pytest>6.2
pytest-cov
pytest-mock
pybind11<2.13; python_version < '3.7'
pybind11>=2.13; python_version >= '3.7'
setuptools>=59
pip>22; python_version > '3.6'
pip>21; python_version < '3.7'
wheel

numpy>=2.1.0rc1; python_version>="3.13"
numpy>=2; python_version>="3.9" and python_version<"3.13"
numpy<2; python_version<="3.8"
tqdm
psutil
mypy
pyright
# ty  # Uncomment to enable Astral type checker (still in early development)

# For MIDI support - only in test though!
mido
mutagen